<div class="second_content" style="width: 650px;">
  <%= form_tag "/stores/#{@store.id}/order_prod_manages" do %>
    <span class="close" title="关闭">×</span>
    <h1>订货</h1>
    <div style="padding: 10px;">
      <p style="line-height: 24px; text-align: right;">日期：<%= Time.now.strftime("%y-%m-%d %H%M") %></p>
      <div class="searchBox">
        <label>供应商</label>
        <div class="listInput">
          <input type="text" oninput="dinghuo_search_supplier(<%= @store.id %>, this)"
                 onpropertychange="dinghuo_search_supplier(<%= @store.id %>, this)"
                 name="supplier_name" id="supplier_name"/>
          <ul id="supp_name_list" style="display:none;">

          </ul>
        </div>
        <label>(名称or助记码)</label>
      </div>
      <div class="searchBox">
        <label>产品名称</label>
        <input type="text" id="prod_name"/>
        <label>产品类别</label>
        <div class="selectBox">
          <span></span>
          <div class="openDownIcon"></div>
          <select id="prod_type">
            <option value="0">产品类别</option>
            <% @mat_type.each do |mt| %>
              <option value="<%= mt.id %>"><%= mt.name %></option>
            <% end %>
          </select>
        </div>
        <button class="orangeBtn" type="button" onclick="dinghuo_search_prod(<%= @store.id %>)">查询</button>
      </div>
    </div>
    <div class="workInfo infoBox">
      <span class="infoBoxTit">查询结果</span>
      <table class="table1" id="dinghuo_prod_list">
        <%= render "dinghuo_prod_list" %>
      </table>
    </div>
    <div class="workInfo infoBox">
      <table class="table1" id="dinghuo_added_prod_list">
        <tr>
          <th>产品名称</th>
          <th>产品类别</th>
          <th>成本价</th>
          <th>零售价</th>
          <th>库存量</th>
          <th>订货数量</th>
          <th>总计</th>
          <th style="width: 40px;"></th>
        </tr>
      </table>
      <p style="text-align: right; padding-top: 10px; font-size: 14px;"><span id="total_price_span">订货总计：0.00(元)</span></p>
    </div>
    <div class="searchBox" style="float:right;">
      <label>付款方式</label>
      <div class="selectBox">
        <span></span>
        <div class="openDownIcon"></div>
        <select name="pay_type">
          <% ProductOrder::PAY_TYPE_NAME.each do |k, v| %>
          <option value="<%= k %>"><%= v %></option>
          <% end %>
          <option value="0">不付款</option>
        </select>
      </div>
    </div>

    <div class="scdBoxAct" style="margin-top:48px;">
      <button class="orangeBtn2" type="button" onclick="dinghuo_maek_out_records_valid(this)">确定</button>
    </div>

  <% end %>
</div>

<script>
  $(function(){
    $("#search_prod_form").on("click", "#search_prod_button", function(){
      popup2("#waiting");
    });

    $(document).bind('click', function(e){
      if ($(e.target).closest(".listInput").length<=0) {
        $("#supp_name_list").hide()
      }
    });
  });

  var ss = $("#product_div").find("option:selected");
  $.each(ss, function(){
    var txt = $(this).text();
    $(this).parents(".selectBox").find("span").first().text(txt);
  });
</script>