<table class="table1" id="cus_order_table">
  <tr>
    <th><div class="checkBox"><input type="checkbox" onclick="print_cus_orders_select_all(this)"/></div></th>
    <th>订单号</th>
    <th>消费时间</th>
    <th>总价(元)</th>
    <th>优惠(元)</th>
    <th>成交(元)</th>
    <th>付款方式</th>
    <th>满意度</th>
    <th>是否票</th>
    <th>操作</th>
  </tr>
  <% @orders.each do |order| %>
    <tr name="cus_order_tr">
      <td><div class="checkBox"><input type="checkbox" id="line_<%= order.id %>" value="<%= order.id %>" onclick="print_cus_orders_select_one(this)"/></div></td>
      <td><a href="javascript:void(0)" onclick="show_order(<%= @store.id %>, <%= order.id %>)"><%= order.code %></a></td>
      <td><%= order.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
      <% loss = limit_float(@pay_types[order.id].nil? ? 0 : @pay_types[order.id].select{|k,v|OrderPayType::LOSS.include? k}.values.inject(0){|sum,n|sum+n}) %>
      <%  fact = limit_float(order.price>loss ? order.price-loss : 0)%>
      <td><%= order.price %></td>
      <td><%= loss %></td>
      <td><%= fact%></td>
      <td><%= @order_pay_type[order.id].nil? ? "" : @order_pay_type[order.id].join(",") %></td>
      <td><%= Order::IS_PLEASED_NAME[order.is_pleased] %></td>
      <td><%= order.is_billing ? "是" : "否" %></td>
      <td>
        <a href="javascript:void(0)" onclick="new_revisit(<%= @store.id %>, <%= order.id %>)">回访</a>
        <% if (order.status == Order::STATUS[:BEEN_PAYMENT] || order.status == Order::STATUS[:FINISHED]) && order.return_types == Order::IS_RETURN[:NO] %>
          <a href="javascript:void(0)" onclick="return_order(<%= @store.id %>, <%= order.id %>)">退单</a>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<% if @orders.any? %>
  <%= will_paginate @orders, :previous_label => "上一页", :next_label => "下一页", :class => "page",
    :id => "cus_order_page" %>
<% end %>
<script type="text/javascript">
  $(function(){
    var i = $("#cus_order_table").find("tr[name='cus_order_tr']").index($(this));
    if(i % 2 ==1 && i != 0){
      $(this).css("background","#f5f5f5");
    }else if(i % 2 ==0 && i != 0){
      $(this).removeAttr("style");
    };

    $("#cus_order_page").on("click", "a", function(){   //异步分页
      var url = $(this).attr("href");
      var type = 1;
      $.ajax({
        type: "get",
        url: url,
        dataType: "script",
        data: {type : type},
        error: function(){
          tishi("数据错误!");
        }
      });
      return false;
    })

  })
</script>