<%= form_tag "/stores/#{@store.id}/customers/#{@customer.id}", :id => "edit_cus_form", :method => :put, :remote => :true do %>
  <div class="second_content" style="width: 730px;">
    <span class="close" title="关闭">×</span>
    <h1>编辑客户</h1>
    <div class="customerInfo infoBox cf">
      <span class="infoBoxTit">基本信息</span>
      <div class="form_1">
        <div class="form_row">
          <label><font class="red">*</font>客户姓名</label><input type="text" name="cus_name" id="cus_name" value="<%= @customer.name %>"/>
          <label><font class="red">*</font>手机号码</label><input type="text" name="cus_phone" id="cus_phone" value="<%= @customer.mobilephone %>"/>
          <label>性别</label>
          <div class="choiceBox" style="margin: 0;">
            <label style="width: 42px;">男</label>
            <div class="radioBox <%= @customer.sex ? "check" : "" %>">
              <input type="radio" name="cus_sex" value="1" onclick="select_sex(this)" <% if @customer.sex %>checked<% end %>/>
            </div>
            <label style="width: 42px;">女</label>
            <div class="radioBox <%= @customer.sex ? "" : "check" %>">
              <input type="radio" name="cus_sex" value="0" onclick="select_sex(this)" <% if @customer.sex==false %>checked<% end %>/>
            </div>
          </div>
        </div>
        <div class="form_row">
          <label>地址</label><input type="text" name="cus_address" value="<%= @customer.address %>"/>
          <label>生日</label><input type="text" name="cus_birthday" class="Wdate" onclick="WdatePicker();"
                                  value="<%= @customer.birthday.nil? ? "" : @customer.birthday.strftime("%Y-%m-%d") %>" readonly/>
          <label>客户属性</label>
          <div class="choiceBox" style="margin: 0;">
            <label style="width: 42px;">个人</label>
            <div class="radioBox <%= @customer.property.to_i==0 ? "check" : "" %>">
              <input type="radio" name="cus_property" value="0" onclick="select_property(this)"
                     <% if @customer.property.to_i==0 %>checked<% end %>/>
            </div>
            <label style="width: 42px;">单位</label>
            <div class="radioBox <%= @customer.property.to_i==1 ? "check" : "" %>">
              <input type="radio" name="cus_property" value="1" onclick="select_property(this)"
                     <% if @customer.property.to_i==1 %>checked<% end %>/>
            </div>
          </div>
        </div>
        <div class="form_row">
          <label><% if @customer.property.to_i==1 %><font class="red">*</font><% end %>单位名称</label><input type="text" name="cus_group_name" id="cus_group_name"
                                                                                                          value="<%= @customer.property.to_i==0 ? "" : @customer.group_name %>" <% if @customer.property.to_i==0 %>disabled<% end %>/>
          <label><nobr>其他联系方式</nobr></label><input type="text" name="cus_other_con" value="<%= @customer.other_way %>"/>
          <label>会员</label>
          <div class="choiceBox" style="margin: 0;">
            <label style="width: 42px;">&nbsp;</label>
            <div class="checkBox <%= @customer.is_vip ? "check" : "" %>">
              <input type="checkbox" name="cus_is_vip" value="1" onclick="select_is_vip(this)" <% if @customer.is_vip %>checked<% end %>/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="customerInfo infoBox cf">
      <span class="infoBoxTit">权限设置</span>
      <div class="form_1">
        <div class="form_row">
          <label>允许挂账</label>
          <div class="choiceBox" style="margin: 0; float: left;">
            <label style="width: 42px;">是</label>
            <div class="radioBox <%= @customer.allowed_debts.to_i==1 ? "check" : "" %>">
              <input type="radio" name="cus_allow_debts" value="1" onclick="allow_debts(this)"
                     <% if @customer.allowed_debts.to_i==1 %>checked<% end %>/>
            </div>
            <label style="width: 42px;">否</label>
            <div class="radioBox <%= @customer.allowed_debts.to_i==0 ? "check" : "" %>">
              <input type="radio" name="cus_allow_debts" value="0" onclick="allow_debts(this)"
                     <% if @customer.allowed_debts.to_i==0 %>checked<% end %>/>
            </div>
          </div>
        </div>
        <div class="form_row" id="debts_div">
          <label><% if @customer.allowed_debts.to_i==1 %><font class="red">*</font><% end %>挂账额度</label>
          <input type="text" name="cus_debts_money" id="cus_debts_money"
                 value="<%= @customer.allowed_debts.to_i==0 ? "" : @customer.debts_money.to_i %>"
                 <% if @customer.allowed_debts.to_i==0 %>disabled<% end %>/>
          <label>结算周期</label>
          <label style="width: 42px;">按月</label>
          <div class="radioBox <%= @customer.check_type.nil? || @customer.check_type.to_i==0 ? "check" : "" %>" style="float:left;">
            <input type="radio" name="cus_check_type" value="0" onclick="select_debts_type(this)"
                   <% if @customer.check_type.nil? || @customer.check_type.to_i==0 %>checked<% end %>
                   <% if @customer.check_type.nil? %>disabled<% end %>/>
          </div>
          <div class="selectBox" style="width: 60px;float: left;">
            <span style="width: 43px;"></span>
            <div class="openDownIcon"></div>
            <select onchange="select_change(this, <%= @store.id %>)" name="debts_by_month" id="debts_by_month"
                    <% if @customer.check_type.nil? || @customer.check_type.to_i==1 %>disabled<% end %>>
                      <% (1..24).to_a.each do |a| %>
                <option value="<%= a %>"
                        <% if @customer.check_type.to_i==0 && @customer.check_time.to_i==a  %>selected<% end %>><%= a %>月</option>
                      <% end %>
            </select>
          </div>
          <label style="width: 42px;">按周</label>
          <div class="radioBox <%= @customer.check_type && @customer.check_type.to_i==1 ? "check" : "" %>" style="float:left;">
            <input type="radio" name="cus_check_type" value="1" onclick="select_debts_type(this)"
                   <% if @customer.check_type && @customer.check_type.to_i==1 %>checked<% end %>
                   <% if @customer.check_type.nil? %>disabled<% end %>/>
          </div>
          <div class="selectBox" style="width: 60px;float: left;">
            <span style="width: 43px;"></span>
            <div class="openDownIcon"></div>
            <select onchange="select_change(this, <%= @store.id %>)" name="debts_by_week" id="debts_by_week"
                    <% if @customer.check_type.nil? || @customer.check_type.to_i==0 %>disabled<% end %>>
                      <% (1..99).to_a.each do |a| %>
                <option value="<%= a %>" <% if @customer.check_type.to_i==1 && @customer.check_time.to_i==a  %>selected<% end %>><%= a %>周</option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="customerInfo infoBox cf">
      <span class="infoBoxTit">添加车辆</span>
      <div class="form_1">
        <div class="form_row">
          <label><font class="red">*</font>车辆年份</label><input type="text" id="buy_year" class="Wdate" onclick="WdatePicker({dateFmt:'yyyy',maxDate:'%y'});" readonly/>
          <label><font class="red">*</font>品牌型号</label>
          <div>
            <div class="selectBox" style="width: 95px;">
              <span style="width: 75px;"></span>
              <div class="openDownIcon"></div>
              <select onchange="select_change(this, <%= @store.id %>)" id="car_capital">
                <option value="0">------</option>
                <% @capitals.each do |c| %>
                  <option value="<%= c.id %>"><%= c.name %></option>
                <% end %>
              </select>
            </div>
            <div class="selectBox" style="width: 95px;">
              <span style="width: 75px;"></span>
              <div class="openDownIcon"></div>
              <select onchange="select_change(this,<%= @store.id %>)" id="car_brand">
                <option value="0">------</option>
              </select>
            </div>
            <div class="selectBox" style="width: 95px;">
              <span style="width: 75px;"></span>
              <div class="openDownIcon"></div>
              <select onchange="select_change(this,<%= @store.id %>)" id="car_model">
                <option value="0">------</option>
              </select>
            </div>
          </div>

        </div>
        <div class="form_row">
          <label>行驶里程</label><input type="text" id="distance"/>
          <label>年检时间</label><input type="text" id="last_inspection" class="Wdate" onclick="WdatePicker();" readonly/>
          <label>年检规则</label>
          <div class="choiceBox" style="margin: 0;">
            <label style="width: 42px;">2年</label>
            <div class="radioBox check">
              <input type="radio" name="inspection_type" value="2" onclick="select_inspection_type(this)" checked/>
            </div>
            <label style="width: 42px;">1年</label>
            <div class="radioBox">
              <input type="radio" name="inspection_type" value="1" onclick="select_inspection_type(this)"/>
            </div>
          </div>
        </div>
        <div class="form_row">
          <label>保险截止</label><input type="text" id="insurance_ended" class="Wdate" onclick="WdatePicker();" readonly/>
          <label>保养里程</label><input type="text" id="maint_distance"/>
          <label><font class="red">*</font>车牌号码</label><input type="text" id="car_num"/>
        </div>
        <div class="form_row">
          <label>车架号</label><input type="text" id="vin_code"/>
        </div>
        <div class="form_row" style="text-align:center;">
          <button class="greenBtn" type="button" onclick="add_car(this, <%= @store.id %>)">新增车辆</button>
        </div>
      </div>
    </div>
    <table class="table1" style="margin: 10px; width: 710px;" id="add_car_table">
      <tr>
        <th>车辆年份</th>
        <th>车牌号码</th>
        <th>品牌型号</th>
        <th>行驶里程</th>
        <th>年检时间</th>
        <th>保险截止</th>
        <th>保养里程</th>
        <th>车架号</th>
        <th>操作</th>
      </tr>
      
    </table>
    <div class="form_row" style="text-align:center;">
      <button class="greenBtn" type="button" onclick="new_cus_valid(this, 1)">确定</button>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  var ss = $("#edit_cus_form").find("option:selected");
  $.each(ss, function(){
    var txt = $(this).text();
    $(this).parents(".selectBox").find("span").first().text(txt);
  });
</script>