<div class="second_content" style="width: 730px;">
  <span class="close" title="关闭">×</span>
  <div>
    <div class="personBill">
      <div class="personInfo">
        <label>订单编号：</label>
        <span><%= @order.code %></span>
        <label>消费时间：</label>
        <span><%= @order.created_at.nil? ? "" : @order.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span>
        <label>接待人员：</label>
        <span><%= @order.front_s_name %></span>
        <label>施工人员：</label>
        <span>
          <% if @order.cons_s_name1 or @order.cons_s_name2 %>
            <%= (@order.cons_s_name1 +  "、") if @order.cons_s_name1 %>
            <%= @order.cons_s_name2 if @order.cons_s_name2 %>
          <% else %>--
          <% end %>
        </span>
      </div>
      <div class="personBillDtl">
        <table class="table1">
          <tr>
            <th class="first_icon">服务项目</th>
            <th>数量</th>
            <th>单价(元)</th>
          </tr>
          <% @order_prods[@order.id].each do |v| %>
            <tr>
              <td><%= v.name %></td>
              <td><%= v.pro_num %></td>
              <td><%= v.price %></td>
            </tr>
          <% end if @order_prods[@order.id] %>
        </table>
        <div class="personBillTot">
          <label>总计：</label>
          <span><%= format("%.2f", @order.price) %>&nbsp;&nbsp;<% if @order.is_free %>(本次免单)<% end %></span>
          <!--<button class="orangeBtn2 scd_btn" name="payment">结账</button>-->
        </div>
      </div>
    </div>
  </div>
</div>
