<div class="second_content" style="width: 730px;">
  <span class="close" title="关闭">×</span>
  <h1>订单详情</h1>
  <div>
    <div class="personBill">
      <div class="personInfo">
        <label>订单编号：</label>
        <span><%= @order.code %></span>
        <label>消费时间：</label>
        <span><%= @order.created_at.nil? ? "" : @order.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span>
        <label>接待人员：</label>
        <span><%= @order.front_name %></span>
        <label>施工人员：</label>
        <span>
          <% if @order.cons_s_name1 or @order.cons_s_name2 %>
            <%= [@order.cons_s_name1, @order.cons_s_name2].join("、") %>
          <% else %>--
          <% end %>
        </span>
      </div>
      <div class="personBillDtl">
        <table class="table1">
          <tr>
            <th class="first_icon">项目名称</th>
            <th>数量</th>
            <th>单价(元)</th>
          </tr>
          <% @products.each do |p| %>
            <tr>
              <td><%= p[:name] %></td>
              <td><%= p[:num] %></td>
              <td><%= p[:price] %></td>
            </tr>
          <% end if @products.any? %>
        </table>
        <div class="personBillTot">
          <label>总计：</label>
          <span><%= format("%.2f", @order.price) %>&nbsp;&nbsp;<% if @order.is_free %>(本次免单)<% end %></span>
        </div>
      </div>
    </div>
  </div>
</div>
