<div class="second_content" style="width: 550px;">
  <span class="close" title="关闭">×</span>
  <h1>新建培训</h1>
  <div class="infoBox cf">
    <%= form_tag "/stores/#{@store.id}/staff_manages/create_train", :id => "new_train_form", :remote => true do %>
      <div class="form_1">
        <div class="form_row">
          <label><font class="red">*</font>培训时间</label>
          <input type="text" name="train_s_time" id="train_s_time" class="Wdate" onclick="WdatePicker()" readonly/>到&nbsp;&nbsp;
          <input type="text" name="train_e_time" id="train_e_time" class="Wdate" onclick="WdatePicker()" style="float:none;" readonly/>
        </div>
        <div class="form_row">
          <label><font class="red">*</font>培训人员</label>
          <div style="border: 1px solid #e2e2e2; overflow: auto; padding: 5px; height: 120px;" id="staffs_list">
            <% @staffs.each do |s| %>
              <div class="checkBox" style=" float: left;"><input type="checkbox" name="staffs[]" value="<%= s.id %>"/></div>
              <label style="width:73px;text-align:left;"><%= s.name %></label>
            <% end if @staffs.any? %>
          </div>
        </div>
        <div class="form_row">
          <label>培训类别</label>
          <div class="selectBox">
            <span style="width: 100px;"></span>
            <div class="openDownIcon"></div>
            <select name="train_type">
              <% Train::TYPES_NAME.each do |k, v| %>
                <option value="<%= k %>"><%= v %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="form_row">
          <label>有无证书</label>
          <div class="checkBox">
            <input type="checkbox" value="1" name="has_certif"/>
          </div>
        </div>
        <div class="form_row">
          <label><font class="red">*</font>培训原因</label>
          <textarea name="train_cont" id="train_cont"></textarea>
        </div>
      </div>
      <div class="scdBoxAct">
        <button class="orangeBtn2" type="button" onclick="train_valid(this)">确定</button>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    var ss = $("#new_train_form").find("option:selected");
    $.each(ss, function(){
      var txt = $(this).text();
      $(this).parents(".selectBox").find("span").first().text(txt);
    });

    $("#new_train_form").on("click", "input[type='checkbox']", function(){
      if($(this).attr("checked")=="checked"){
        $(this).parent().attr("class", "checkBox check");
      }else{
        $(this).parent().attr("class", "checkBox");
      }
    })
  })
</script>