<div class="second_content" style="width: 850px;">
  <%= form_tag "/stores/#{@store.id}/staff_manages", :id=>"staff_form", :multipart => true do %>
    <span class="close" title="关闭">×</span>
    <h1>新建员工</h1>
    <div class="perInfo infoBox cf">
      <span class="infoBoxTit">个人信息</span>
      <div class="perPic">
        <span>照片</span>
        <button class="upload" type="button" id="up_img_bt">上传</button>
        <input type="file" name="staff_img" id="staff_img" style="display:none;"/>
      </div>
      <div class="form_1" style="overflow: hidden;">
        <div class="form_row">
          <label><font class="red">*</font>姓名</label>
          <input type="text" name="staff_name" id="staff_name"/>
          <label>籍贯</label>
          <input type="text" name="staff_hometown"/>
          <label><font class="red">*</font>电话</label>
          <input type="text" name="staff_phone" id="staff_phone"/>
        </div>
        <div class="form_row">
          <label>性别</label>
          <div class="selectBox">
            <span style="width: 100px;"></span>
            <div class="openDownIcon"></div>
            <select name="staff_sex">
              <option value="1">男</option>
              <option value="0">女</option>
            </select>
          </div>
          <label>生日</label>
          <input type="text" name="staff_birthday" class="Wdate" onclick="WdatePicker()"readonly/>
          <label><font class="red">*</font>身份证号码</label>
          <input type="text" name="staff_idn" id="staff_idn"/>
        </div>
        <div class="form_row">
          <label>教育程度</label>
          <div class="selectBox">
            <span style="width: 100px;"></span>
            <div class="openDownIcon"></div>
            <select name="staff_education">
              <% Staff::N_EDUCATION.each do |k, v| %>
                <option value="<%= k %>"><%= v %></option>
              <% end %>
            </select>
          </div>
          <label>政治面貌</label>
          <input type="text" name="staff_political"/>
          <label>民族</label>
          <input type="text" name="staff_nation"/>
        </div>
        <div class="form_row">
          <label><font class="red">*</font>部门</label>
          <div class="selectBox">
            <span style="width: 100px;"></span>
            <div class="openDownIcon"></div>
            <select name="staff_dpt" id="staff_dpt">
              <option value="0">------</option>
              <% @departs.each do |d| %>
                <option value="<%= d.id %>"><%= d.name %></option>
              <% end %>
            </select>
          </div>
          <label><font class="red">*</font>职务</label>
          <div class="selectBox">
            <span style="width: 100px;"></span>
            <div class="openDownIcon"></div>
            <select name="staff_posi" id="staff_posi">
              <option value="0">------</option>
            </select>
          </div>
          <label><font class="red">*</font>类别</label>
          <div class="selectBox">
            <span style="width: 100px;"></span>
            <div class="openDownIcon"></div>
            <select name="staff_tow" id="staff_tow">
              <% Staff::N_COMPANY.each do |k, v| %>
                <option value="<%= k %>"><%= v %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="form_row">
          <label><font class="red">*</font>等级</label>
          <div class="selectBox">
            <span style="width: 100px;"></span>
            <div class="openDownIcon"></div>
            <select name="staff_level" id="staff_level">
              <% Staff::LEVELS.each do |k, v| %>
              <option value="<%= k %>"><%= v %></option>
              <% end %>
            </select>
          </div>
          <label>地址</label>
          <input type="text" style="width: 346px;" name="staff_addr"/>
        </div>
      </div>
    </div>

    <div class="workInfo infoBox">
      <span class="infoBoxTit">工作信息</span>
      <div class="form_1">
        <div class="form_row">
          <label>是否试用</label>
          <div class="checkBox" style="float: left; margin-right: 119px;">
            <input type="checkbox" value="1" name="staff_work_st" id="staff_work_st"/>
          </div>
          <label>试用期时长</label>
          <input type="text" name="staff_prob_days" id="staff_prob_days" disabled/>
          <label>试用期底薪</label>
          <input type="text" name="staff_prob_salary" id="staff_prob_salary" disabled/>
        </div>
        <div class="form_row">
          <label>社保扣款</label>
          <input type="text" name="staff_secure_fee" id="staff_secure_fee"/>
          <label><font class="red">*</font>正式底薪</label>
          <input type="text" name="staff_base_salary" id="staff_base_salary"/>
          <label><font class="red">*</font>入职时间</label>
          <input type="text" class="Wdate" onclick="WdatePicker()" name="staff_entry_time" id="staff_entry_time" readonly/>
        </div>
        <div class="form_row">
          <label>各项补贴</label>
          <input type="text" name="staff_reward_fee" id="staff_reward_fee"/>
          <label>提成</label>
          <div class="checkBox" style="float: left;">
            <input type="checkbox" value="1" name="staff_is_deduct" />
          </div>
          <label>底薪考核</label>
          <div class="checkBox" style="float: left;">
            <input type="checkbox" value="1" name="staff_is_score_g_s"/>
          </div>
          <label>月工作天数</label>
          <div class="selectBox">
            <span style="width: 100px;"></span>
            <div class="openDownIcon"></div>
            <select name="staff_w_monthly" id="staff_w_monthly">
              <% (1..31).each do |d| %>
                <option value="<%= d %>"><%= d %>天</option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="form_row">
          <label>劳动合同</label>
          <input type="text" style="width: 343px;" name="staff_labor_contract"/>
        </div>
        <div class="form_row">
          <label>备注</label>
          <textarea name="staff_remark"></textarea>
        </div>
      </div>
    </div>
    <div class="scdBoxAct">
      <button class="orangeBtn2" type="button" onclick="staff_valid(this, <%= @store.id %>)">确定</button>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(function(){
    var ss = $("#staff_form").find("option:selected");
    $.each(ss, function(){
      var txt = $(this).text();
      $(this).parents(".selectBox").find("span").first().text(txt);
    });

    $("#staff_form").on("click", "input[type='checkbox']", function(){
      var name = $(this).attr("id");
      if($(this).attr("checked")=="checked"){
        $(this).parent().attr("class", "checkBox check");
        if(name=="staff_work_st"){
          $("#staff_prob_days").removeAttr("disabled");
          $("#staff_prob_days").prev().prepend("<font class='red'>*</font>");
          $("#staff_prob_salary").removeAttr("disabled");
          $("#staff_prob_salary").prev().prepend("<font class='red'>*</font>");
        }
      }else{
        $(this).parent().attr("class", "checkBox");
        if(name=="staff_work_st"){
          $("#staff_prob_days").attr("disabled", "disabled");
          $("#staff_prob_salary").attr("disabled", "disabled");
          $("#staff_prob_days").prev().text("试用期时长");
          $("#staff_prob_salary").prev().text("试用期底薪");
        }
      }
    });

    $("#staff_form").on("change", "#staff_dpt", function(){
      var dpt_id = $(this).val();
      if(dpt_id==0){
        $("#staff_posi").html("<option value='0'>------</option>");
        $("#staff_posi").parents(".selectBox").find("span").first().text("------");
      }else{
        popup2("#waiting");
        $.ajax({
          type: "get",
          url: "/stores/<%= @store.id %>/staff_manages/search_posis",
          dataType: "script",
          data: {dpt_id : dpt_id},
          error: function(){
            $("#waiting").hide();
            $(".second_bg2").hide();
            tishi("数据错误!");
          }
        })
      }
    })

    $("#staff_form").on("click", "#up_img_bt", function(){
      $("#staff_img").click();
    })
  })

</script>
