<div class="second_content" style="width: 650px;">
  <%= form_tag "/stores/#{@store.id}/station_datas", :method => "post" do %>
    <span class="close" title="关闭">×</span>
    <h1>新建工位</h1>
    <div>
      <div class="perDtl" style="float: left; margin-top: 41px;">
        <p><label>名称</label><input type="text" name="station_name" id="station_name" /></p>
        <p><label>编号</label><input type="text"  name="station_code" id="station_code"/></p>
        <div style="overflow: hidden;">
          <label style="float:left;">带工控机</label>
          <ul style="float:left;margin: 4px;">
            <li class="checkBox">
              <input type="checkbox" name="station_has_controller" onclick="select_serv(this)" value="1"/>
            </li>
          </ul>
        </div>
        <p><label>采集器编号</label><input type="text" name="station_collector_code" id="station_collector_code"/></p>
      </div>
      <div class="newStationJob">
        <h2>选择工位可进行的服务</h2>
        <div class="stationJobPicker">
          <% first_c_id = -1 %>
          <ul>
            <% @category.each_with_index do |e, index| %>
              <li onclick="show_diff_servs(<%= e[0] %>, this)" <% if index == 0 %><% first_c_id = e[0] %>class="hover"<% end %>><%= e[1] %></li>
            <% end if @category.any? %>
          </ul>
          <% @services.each do |k ,v| %>
            <div class="jobClass_1" id="servs_div_<%= k %>" style="<%= k==first_c_id ? "display: block;" : "display: none;" %>">
              <div class="choiceBox">
                <% v.each do |serv| %>
                  <div class="checkBox">
                    <input type="checkbox" name="station_servs[]" value="<%= serv.id %>" onclick="select_serv(this)"/>
                  </div>
                  <label><%= serv.name %></label>
                <% end %>
              </div>
            </div>
          <% end if @services.any? %>

        </div>
      </div>
    </div>
    <div class="scdBoxAct">
      <button class="orangeBtn2" type="button" onclick="new_station_commit(this, <%= @store.id %>)">确认</button>
      <button class="greyBtn" type="button" onclick="station_cancel()">取消</button>
    </div>
  <% end %>
</div>