<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag    "application", "style" %>
    <%= javascript_include_tag "application", "main" %>
    <%= csrf_meta_tags %>
    <title><%= @title %></title>
  </head>
  <body class="loginBd">
    <div class="loginBg">
      <div class="menuBox">
        <h1>澜泰OMS管理系统</h1>
        <div class="menu menu1"><a href="javascript:void(0)"><img src="/assets/menuIcon1.png" /></a></div>
        <div class="menu menu2"><a href="/stores/<%= @store.id %>/stations"><img src="/assets/menuIcon2.png" /></a></div>
        <div class="menu menu3"><a href="javascript:void(0)"><img src="/assets/menuIcon3.png" /></a></div>
        <div class="menu menu4"><a href="javascript:void(0)"><img src="/assets/menuIcon4.png" /></a></div>
        <div class="menu menu5"><a href="/stores/<%= @store.id %>/station_datas"><img src="/assets/menuIcon5.png" /></a></div>
        <div class="menu menu6"><a href="javascript:void(0)"><img src="/assets/menuIcon6.png" /></a></div>
        <div class="menu menu7"><a href="javascript:void(0)"><img src="/assets/menuIcon7.png" /></a></div>
        <div class="menu menu8"><a href="javascript:void(0)"><img src="/assets/menuIcon8.png" /></a></div>
        <div class="menu menu9"><a href="javascript:void(0)"><img src="/assets/menuIcon9.png" /></a></div>
      </div>
      <div class="topLogin">
        <span><%= cookies[:staff_name] %>
          <ul>
            <li><a href="/logins/logout">退出</a></li>
          </ul>
        </span>
      </div>
    </div>
  </body>
</html>
