<div class="second_content" style="width: 450px;">
  <input type="hidden" value="<%= @store.id %>"/>
  <span class="close" title="关闭">×</span>
  <% if @type == 0 %>
    <h1>编辑部门</h1>
  <% elsif @type == 1 %>
    <h1>编辑职务</h1>
  <% elsif @type == 3 %>
    <h1>编辑物料(商品)类别</h1>
  <% elsif @type == 4 %>
    <h1>编辑服务类别</h1>
  <% end %>
  <div class="infoBox">
    <div class="rwdDtl">
      <p>
        <label><font class="red">*</font>名称</label>
        <input type="text" style="width: 200px;" id="set_functions_edit_name" value="<%= @obj.name %>"/>
      </p>
      <% if @type == 0 %>
      <div id="positions_div">
        <%= render "positions_list" %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="scdBoxAct">
    <button class="orangeBtn2" id="new_commit_button" onclick="edit_commit_button(<%= @type %>, <%= @obj.id %>, <%= @store.id %>)">确认</button>
    <button class="greyBtn" onclick="new_cancel_button()">取消</button>
  </div>
</div>