<span class="infoBoxTit">商品类别管理</span>
<button class="orangeBtn" style="position: absolute; padding: 0px; top: -10px; left: 180px;" onclick="set_functions_new(2)">新建商品</button>
<div class="hasItemBox">
  <% @market_goods.each do |mg| %>
    <div class="hasItemBoxItem">
      <div class="itemName">
        <p><%= mg.name %></p>
        <p><button class="editBtn" title="编辑" onclick="set_funcions_edit(2, <%= mg.id %>, <%= @store.id %>)"></button>
          <button class="deleteBtn" title="删除" onclick="set_funcions_delete(2, <%= mg.id %>, <%= @store.id %>)"></button></p>
      </div>
    </div>
  <% end %>
</div>
