<tr>
  <th>订单号</th>
  <th>产品名称</th>
  <th>产品类别</th>
  <th>成本价</th>
  <th>零售价</th>
  <th>订货数量</th>
  <th>已入库数量</th>
  <th>入库数</th>
  <th></th>
</tr>
<input type="hidden" name="prod_order_id" <% if @order_prod %>value="<%= @order_prod.id %>"<% end %>/>
<% @prod_order_items.each do |poi| %>
  <tr>
    <td><%= @order_prod.code %></td>
    <td><%= poi.pname %></td>
    <td><%= poi.cname %></td>
    <td><%= poi.t_price %></td>
    <td><%= poi.base_price %></td>
    <td><%= poi.nums %></td>
    <% has_num = @prod_order_in[poi.pid].nil? ? 0.round(2) : @prod_order_in[poi.pid].sum{|p|p.product_num}.round(2) %>
    <td><%= has_num %></td>
    <td>
      <input type="text" style="width:40px;padding:3px;" onkeyup="in_add_prod_set_num(this)" name="prod[<%= poi.pid %>]"
             value="<%= poi.nums - has_num %>" <% if poi.nums==has_num %>disabled<% end %>/>
    </td>
    <td>
      <button class="delete" title="删除" onclick="in_del_added_prod(this)"></button>
    </td>
  </tr>
<% end if @prod_order_items && @prod_order_items.any? %>