<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>入库清单列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "application", "style" %>
    <%= javascript_include_tag "application", "main" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="main">
      <table class="table1">
        <tr>
          <th>订单号</th>
          <th>条形码</th>
          <th>产品名称</th>
          <th>数量</th>
        </tr>
        <% @products.each do |p| %>
          <tr>
            <td><%= @prod_order.code %></td>
            <td><%= p.code %></td>
            <td><%= p.name %></td>
            <td><%= @prod["#{p.id}"] %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="footer"></div>
  </body>
</html>