<% if is_hover("stations", "arrange_staffs") %>
  <div class="scdMenuBox">
    <ul class="scdMenu cf">
      <a class="scd_menu_a" href="/stores/<%= @store.id %>/stations"><li <% if is_hover("stations") %>class="hover"<% end %>>施工现场</li></a>
      <a class="scd_menu_a" href="/stores/<%= @store.id %>/arrange_staffs"><li <% if is_hover("arrange_staffs") %>class="hover"<% end %>>分配技师</li></a>
      <a class="scd_menu_a" href="javacript:void(0)"><li <% if is_hover("xianchang3") %>class="hover"<% end %>>出勤</li></a>
    </ul>
  </div>
<% elsif is_hover("shouyin") %>
  <div class="scdMenuBox">
    <ul class="scdMenu cf">
      <a class="scd_menu_a" href="javacript:void(0)"><li <% if is_hover("shouyin1") %>class="hover"<% end %>>收银</li></a>
    </ul>
  </div>
<% elsif is_hover("yinxiao") %>
  <div class="scdMenuBox">
    <ul class="scdMenu cf">
      <a class="scd_menu_a" href="javacript:void(0)"><li <% if is_hover("yinxiao1") %>class="hover"<% end %>>活动</li></a>
      <a class="scd_menu_a" href="javacript:void(0)"><li <% if is_hover("yinxiao2") %>class="hover"<% end %>>商品</li></a>
      <a class="scd_menu_a" href="javacript:void(0)"><li <% if is_hover("yinxiao3") %>class="hover"<% end %>>服务</li></a>
      <a class="scd_menu_a" href="javacript:void(0)"><li <% if is_hover("yinxiao4") %>class="hover"<% end %>>卡类</li></a>
    </ul>
  </div>
<% elsif is_hover("customers", "revisits", "message_manages") %>
  <div class="scdMenuBox">
    <ul class="scdMenu cf">
      <a class="scd_menu_a" href="/stores/<%= @store.id %>/customers"><li <% if is_hover("customers") %>class="hover"<% end %>>客户列表</li></a>
      <a class="scd_menu_a" href="/stores/<%= @store.id %>/revisits"><li <% if is_hover("revisits") %>class="hover"<% end %>>客户回访</li></a>
      <a class="scd_menu_a" href="/stores/<%= @store.id %>/message_manages"><li <% if is_hover("message_manages") %>class="hover"<% end %>>短信管理</li></a>
    </ul>
  </div>
<% elsif is_hover("tongji") %>
  <div class="scdMenuBox">
    <ul class="scdMenu cf">
      <a class="scd_menu_a" href="javacript:void(0)"><li <% if is_hover("tongji1") %>class="hover"<% end %>>客户</li></a>
      <a class="scd_menu_a" href="javacript:void(0)"><li <% if is_hover("tongji2") %>class="hover"<% end %>>营销</li></a>
      <a class="scd_menu_a" href="javacript:void(0)"><li <% if is_hover("tongji3") %>class="hover"<% end %>>库存</li></a>
      <a class="scd_menu_a" href="javacript:void(0)"><li <% if is_hover("tongji4") %>class="hover"<% end %>>员工</li></a>
    </ul>
  </div>
<% elsif is_hover("storages") %>
  <div class="scdMenuBox">
    <ul class="scdMenu cf">
      <a class="scd_menu_a" href="/stores/<%= @store.id %>/storages/mat_index"><li <% if is_hover("storages/mat_index") %>class="hover"<% end %>>库存列表</li></a>
      <a class="scd_menu_a" href="javacript:void(0)"><li <% if is_hover("kucun2") %>class="hover"<% end %>>出入库记录</li></a>
      <a class="scd_menu_a" href="javacript:void(0)"><li <% if is_hover("kucun3") %>class="hover"<% end %>>订货记录</li></a>
      <a class="scd_menu_a" href="javacript:void(0)"><li <% if is_hover("kucun4") %>class="hover"<% end %>>报损记录</li></a>
      <a class="scd_menu_a" href="javacript:void(0)"><li <% if is_hover("kucun5") %>class="hover"<% end %>>退货记录</li></a>
    </ul>
  </div>
<% elsif is_hover("caiwu") %>
  <div class="scdMenuBox">
    <ul class="scdMenu cf">
      <a class="scd_menu_a" href="javacript:void(0)"><li <% if is_hover("caiwu1") %>class="hover"<% end %>>收入</li></a>
      <a class="scd_menu_a" href="javacript:void(0)"><li <% if is_hover("caiwu2") %>class="hover"<% end %>>费用</li></a>
      <a class="scd_menu_a" href="javacript:void(0)"><li <% if is_hover("caiwu3") %>class="hover"<% end %>>往来</li></a>
      <a class="scd_menu_a" href="javacript:void(0)"><li <% if is_hover("caiwu4") %>class="hover"<% end %>>成本</li></a>
      <a class="scd_menu_a" href="javacript:void(0)"><li <% if is_hover("caiwu5") %>class="hover"<% end %>>资产</li></a>
      <a class="scd_menu_a" href="javacript:void(0)"><li <% if is_hover("caiwu6") %>class="hover"<% end %>>报表</li></a>
    </ul>
  </div>
<% elsif is_hover("yuangong") %>
  <div class="scdMenuBox">
    <ul class="scdMenu cf">
      <a class="scd_menu_a" href="javacript:void(0)"><li <% if is_hover("yuangong1") %>class="hover"<% end %>>员工列表</li></a>
      <a class="scd_menu_a" href="javacript:void(0)"><li <% if is_hover("yuangong2") %>class="hover"<% end %>>工资表</li></a>
      <a class="scd_menu_a" href="javacript:void(0)"><li <% if is_hover("yuangong3") %>class="hover"<% end %>>出勤</li></a>
    </ul>
  </div>
<% elsif is_hover("station_datas", "set_stores", "set_functions", "roles", "set_staffs") %>
  <div class="scdMenuBox">
    <ul class="scdMenu cf">
      <a class="scd_menu_a" href="/stores/<%= @store.id %>/station_datas"><li <% if is_hover("station_datas") %>class="hover"<% end %>>工位设置</li></a>
      <a class="scd_menu_a" href="/stores/<%= @store.id %>/set_stores"><li <% if is_hover("set_stores", "set_functions") %>class="hover"<% end %>>门店设置</li></a>
      <a class="scd_menu_a" href="/stores/<%= @store.id %>/roles"><li <% if is_hover("roles", "set_staffs") %>class="hover"<% end %>>权限设置</li></a>
    </ul>
  </div>
<% end %>